@import url('https://fonts.googleapis.cnpmjs.org/css2?family=ZCOOL+KuaiLe&display=swap');

/*
// disabled, use cnpmjs instead
@font-face {
  font-family: "ZCOOL KuaiLe";
  font-weight: 400;
  src: url("~/assets/ZCOOLKuaiLe.woff2");
}
*/
